<div id="highline-account">

    <div class="row">
        <div class="col-md-2">
            <div ui-view="left"></div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="segment-header-bold">Account</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="segment-header">Details</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <form name="hlFormUser">

                                <div class="form-group"
                                     ng-class="{'has-error': hlFormUser.firstName.$touched && hlFormUser.firstName.$invalid}">
                                    <label class="" for="firstName">First Name</label>
                                    <input type="text" id="firstName" name="firstName" placeholder="First Name" class="form-control"
                                           ng-model="user.first_name" required>
                                    <div ng-messages="hlFormUser.firstName.$error" class="help-block">
                                        <div ng-message="required">You must enter a first name.</div>
                                    </div>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error': hlFormUser.lastName.$touched && hlFormUser.lastName.$invalid}">
                                    <label class="" for="lastName">Last Name</label>
                                    <input type="text" id="lastName" name="lastName" placeholder="Last Name" class="form-control"
                                           ng-model="user.last_name" required>
                                    <div ng-messages="hlFormUser.lastName.$error" class="help-block">
                                        <div ng-message="required">You must enter a last name.</div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': hlFormUser.email.$touched && hlFormUser.email.$invalid}">
                                    <label class="" for="email">Email</label>
                                    <input type="email" id="email" name="email" placeholder="Email" class="form-control"
                                           ng-model="user.email" required>
                                    <div ng-messages="hlFormUser.email.$error" class="help-block">
                                        <div ng-message="required">You must enter an email address.</div>
                                        <div ng-message="email">Your email address is invalid.</div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': hlFormUser.skill.$touched && hlFormUser.skill.$invalid}">
                                    <label class="" for="skill">Skill</label>
                                    <select id="skill" name="skill" placeholder="Skill" class="form-control" ng-model="user.skill"
                                            ng-options="skill.value as skill.text for skill in skills" required>
                                        <option value="" disabled selected>[Please Choose]</option>
                                    </select>
                                    <div ng-messages="hlFormUser.skill.$error" class="help-block">
                                        <div ng-message="required">Please enter your current skill level.</div>
                                    </div>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error': hlFormUser.experience.$touched && hlFormUser.experience.$invalid}">
                                    <label class="" for="experience">Experience</label>
                                    <input type="number" id="experience" name="experience" placeholder="Experience" class="form-control"
                                           ng-model="user.experience" min="0" max="99" required>
                                    <div ng-messages="hlFormUser.experience.$error" class="help-block">
                                        <div ng-message="required">Please provide your years of experience.</div>
                                        <div ng-message="number">Years of experience must be an integer.</div>
                                        <div ng-message="min">Your years of experience must be at least 0.</div>
                                        <div ng-message="max">Yoda you are not. Please enter a value less than or equal to 99.</div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': hlFormUser.style.$touched && hlFormUser.style.$invalid}">
                                    <label class="" for="style">Style</label>
                                    <select id="style" name="style" placeholder="Style" class="form-control" ng-model="user.style"
                                            ng-options="style.value as style.text for style in styles" required>
                                        <option value="" disabled selected>[Please Choose]</option>
                                    </select>
                                    <div ng-messages="hlFormUser.style.$error" class="help-block">
                                        <div ng-message="required">Please provide your current riding style.</div>
                                    </div>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error': hlFormUser.viewable.$touched && hlFormUser.viewable.$invalid}">
                                    <label class="" for="viewable">Viewable</label>
                                    <select id="viewable" name="viewable" placeholder="Public" class="form-control" ng-model="user.viewable"
                                            ng-options="viewable.value as viewable.text for viewable in viewables" required>
                                        <option value="" disabled selected>[Please Choose]</option>
                                    </select>
                                    <div ng-messages="hlFormUser.viewable.$error" class="help-block">
                                        <div ng-message="required">Please select if you like your user profile to be public or private.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': hlFormUser.gender.$touched && hlFormUser.gender.$invalid}">
                                    <label class="" for="gender">Gender</label>
                                    <select id="gender" name="gender" placeholder="Gender" class="form-control" ng-model="user.gender"
                                            ng-options="gender.value as gender.text for gender in genders" required>
                                        <option value="" disabled selected>[Please Choose]</option>
                                    </select>
                                    <div ng-messages="hlFormUser.gender.$error" class="help-block">
                                        <div ng-message="required">Please select if your gender.</div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="center-block">

                                <!--
                                <button type="button" class="btn btn-primary" ng-click="addUser()" ng-disabled="addable(hlFormUser.$invalid)">Add</button>
                                <button type="button" class="btn btn-primary" ng-click="deleteUser(hlFormUser)" ng-disabled="deletable()">Delete</button>
                                <button type="button" class="btn btn-primary" ng-click="clear(hlFormUser)">Clear</button>
                                -->
                                <button type="button" class="btn btn-primary" ng-click="updateUser()" ng-disabled="updatable(hlFormUser.$invalid)">Update</button>
                                <button type="button" class="btn btn-primary" ng-click="resetUser(hlFormUser)" ng-disabled="deletable()">Reset</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="segment-header">Addresses</div>

                            <table class="table table-striped table-hover equipment-table">
                                <thead>
                                <tr>
                                    <td>Rank</td>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Street</td>
                                    <td>City</td>
                                    <td>Zip</td>
                                    <td>&nbsp;</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="address in user.addresses">
                                    <td>{{address.rank}}</td>
                                    <td>{{address.name}}</td>
                                    <td>{{address.type}}</td>
                                    <td>{{address.street}}</td>
                                    <td>{{address.city}}</td>
                                    <td>{{address.zip}}</td>
                                    <td>
                                        <i class="fa fa-pencil" aria-hidden="true" class="account-address-edit" style="cursor: hand; cursor: pointer; color: #465a9b;" ng-click="editAddress(address.id)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="segment-header">Equipment</div>
                            <table class="table table-striped table-hover equipment-table">
                                <thead>
                                <tr>
                                    <td>Type</td>
                                    <td>Name</td>
                                    <td>Make</td>
                                    <td>Model</td>
                                    <td>Year</td>
                                    <td>&nbsp;</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in user.equipment">
                                    <td>{{item.type}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.make}}</td>
                                    <td>{{item.model}}</td>
                                    <td>{{item.year}}</td>
                                    <td>
                                        <i class="fa fa-pencil" aria-hidden="true" class="account-equipment-edit" style="cursor: hand; cursor: pointer; color: #465a9b;" ng-click="editEquipment(item.id)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="segment-header">Preferences</div>

                            <div class="segment-subheader">Avatar
                                <span class="pull-right highline-hover">
                                    <highline-upload id="upload-avatar" max-files-allowed="1" listener="USER" upload-icon="edit"></highline-upload>
                                </span>
                            </div>
                            <div>
                                <img ng-src="{{user.avatar}}" alt="Highline Avatar" class="img-thumbnail avatar-medium"/>
                            </div>

                            <div class="segment-subheader">Access</div>
                            <ul class="preferences-list">
                                <li>Access Profile: {{user.preferences[0].access_profile}}</li>
                                <li>Access Groups: {{user.preferences[0].access_groups}}</li>
                                <li>Access Friends: {{user.preferences[0].access_friends}}</li>
                                <li>Access Rides: {{user.preferences[0].access_rides}}</li>
                                <li>Access Photos: {{user.preferences[0].access_photos}}</li>
                            </ul>
                            <div class="segment-subheader">Notifications</div>
                            <ul class="preferences-list">
                                <li>Notify Email Activity: {{user.preferences[0].notify_email_activity}}</li>
                                <li>Notify Email Alerts: {{user.preferences[0].notify_email_alerts}}</li>
                                <li>Notify SMS Activity: {{user.preferences[0].notify_sms_activity}}</li>
                                <li>Notify SMS Alerts: {{user.preferences[0].notify_sms_alerts}}</li>
                            </ul>
                            <div class="segment-subheader">Address</div>
                            <ul class="preferences-list">
                                <li>Address Show All: {{user.preferences[0].address_show_all}}</li>
                                <li>Address Show Street: {{user.preferences[0].address_show_street}}</li>
                                <li>Address Show City: {{user.preferences[0].address_show_city}}</li>
                                <li>Address Show State: {{user.preferences[0].address_show_state}}</li>
                                <li>Address Show ZIP: {{user.preferences[0].address_show_zip}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div ui-view="right"></div>
        </div>
    </div>

    <hr/>

    <pre ng-show="debug">{{user | json}}</pre>

</div>

