<div id="highline-sandbox">
    <div class="row">
        <div class="col-md-2">
            <div ui-view="left"></div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="segment-header">Sandbox</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <!--
                    <label for="upload">Sandbox upload</label>
                    <highline-upload id="upload" max-files-allowed="3" listener="USER"></highline-upload>
                    -->

                    <div class="page-header">
                        <h1>
                            {{todo.user}}'s To Do List
                        <span class="label label-default" ng-hide="incompleteCount() == 0">
                            {{incompleteCount()}}
                        </span>
                        </h1>
                    </div>
                    <div class="panel">

                        <div class="input-group">
                            <input class="form-control" />
                            <span class="input-group-btn">
                                <button class="btn btn-default">Add</button>
                            </span>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Done</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in todo.items">
                                    <td>{{item.action}}</td>
                                    <td><input type="checkbox" ng-model="item.done" /></td>
                                    </tr>
                        </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2">
            <div ui-view="right"></div>
        </div>
    </div>
</div>