<div id="bottom-menu">
    <footer>
        <div class="row">
            <div class="col-md-12">
                <div class="border-bottom"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pull-left">
                    3 Wilton Drive, Allendale, NJ 07401 | Phone: 201.344.3456 | <a href="mailto:jon@redbonesolutions.com">jon@redbonesolutions.com</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a ui-sref="home">Redbone Solutions, LLC</a>
                </div>
            </div>
        </div>
    </footer>
</div>