<div>
    <header>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <a href="/">
                        <img src="assets/img/logo/highline.jpg" alt="Mountain Biking Group Riding">
                    </a>
                </div>
                <div class="pull-right" style="margin-top: 15px;">
                    <authenticated-login ng-if="loggedIn"></authenticated-login>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="border-bottom"></div>
            </div>
        </div>
    </header>
</div>