<div id="highline-equipment">
    <div class="row">
        <div class="col-md-2">
            <div ui-view="left"></div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="segment-header">Equipment</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- form goes here -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- form buttons go here -->
                </div>
            </div>
            <div style="margin-bottom: 20px;"></div>
        </div>
        <div class="col-md-2">
            <div ui-view="right"></div>
        </div>
    </div>
</div>