#highline-account {  }

#highline-account .equipment-table {
    color: #333;
    font-size: .7em;
}

#highline-account .equipment-table thead {
    font-weight: bold;
}

.account-equipment-edit {
    color: #465a9b;
    cursor: hand;
    cursor: pointer;
}

#highline-account .preferences-list {
    font-size: .8em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#highline-account .table-preferences {
    color: #333;
    font-size: .7em;
}

#highline-account .table-preferences thead {
    font-weight: bold;
}

#highline-account .table-preferences tr {
}

#highline-account .table-preferences tr td {
}

#highline-account .preferences-label {
    font-weight: normal;
}


#highline-account .edit {
    color: #465a9b;
    cursor: hand;
    cursor: pointer;
}
