
/************************************
*
* aqua: #336699
* gray: #999999
* char: #666666
* red : #900000
* ash : #c3c3c3
* blk : #333333
* gree: #00a000
*
* dc01: #465a9b
* dc02: #6493ed
*
*
* rs01: #465a9b
* rs02: #527de8
* rs03: #666666
* rs04: #798489
*
* beginner:      #40b450 64  180 80
* intermediate:  #1a77ba 26  119 186
* advanced:      #000000 0   0   0
* terrain:       #f69432 246 148 50
*
*************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #333;
}

.site-indent {margin: 50px;}

#site-main-division {
  background:url(../../assets/img/common/tignes-mountain-biking-3.jpg) top no-repeat;
  width: 1200px;
  background-attachment: fixed; height: 800px; margin: 0 10px 0 10px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.circle {
  width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 3px;
  position: relative;
  top: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  border: 4px solid #333;
}

table.friend {}
table.friend tr td.prop {color: #999; font-weight: bold; width: 100px;}
table.friend tr td.val {color: #333;}

table.member {}
table.member tr td.prop {color: #999; font-weight: bold; width: 100px;}
table.member tr td.val {color: #333;}

.text-large {
  font-size: 24px;
}

.popover {
  max-width: 800px; /* optional max width */
  width: intrinsic; /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content; /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}

.sponsor-image {
  margin-top:40px;
  margin-bottom: 40px;
}

.hlAccount {
  border: 2px solid #333;
  height: 30vh;
  width: 100%;
}

.hlActivity {
  border: 2px solid #465a9b;
  height: 30vh;
  width: 100%;
}

.hlData {
  border: 2px solid #527de8;
  height: 50vh;
  width: 100%;
  margin-top: 10px;
}

.hlAlley {
  border: 2px dotted #900000;
  height: 100%;
  width: 100%;
  text-align: center;
}

.segment-header {
  font-size: 1.1em;
  color: #666;
  border-bottom: 1px solid #999;
  margin-bottom: 5px;
}

.segment-header-bold {
  font-size: 1.4em;
  font-weight: bold;
  color: #465a9b;
  border-bottom: 1px solid #465a9b;
  margin-bottom: 15px;
}


.segment-subheader {
  font-size: .9em;
  color: #465a9b;
  border-bottom: 1px solid #527de8;
  margin-bottom: 5px;
  margin-top: 10px;
}

.border-bottom {
  border-bottom: 1px solid #999;
  margin: 0 0 10px 0;
}

.avatar {
  height: 125px;
  width: 125px;
}

.avatar-medium {
  height: 100px;
  width: 100px;
}

.avatar-small {
  height: 75px;
  width: 75px;
}

.highline-hover {
  cursor: hand;
  cursor: pointer;
}

a.site-link-1 {color: #333; text-decoration: none; cursor: hand; cursor: pointer;}
a.site-link-1:hover {color: #999; text-decoration: none;}
a.site-link-1:visited {color: #333; text-decoration: none;}

/* form helper */

.form-control {
  -webkit-transition: border-color .5s ease-in-out, background-color .5s ease-in-out;
  -moz-transition: border-color .5s ease-in-out, background-color .5s ease-in-out;
  -o-transition: border-color .5s ease-in-out, background-color .5s ease-in-out;
  transition: border-color .5s ease-in-out, background-color .5s ease-in-out;
}

.form-success-flash {
  border-color: green;
  background-color: rgba(210,250,220,.8);
}

#highline-quick-actions {
  margin: 10px;
  text-align: center;
}

#highline-quick-actions ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#highline-quick-actions ul li {
  display: inline;
}

#highline-quick-actions ul li div {
  color: #465a9b;
  display: inline-block;
  text-align: center;
}

#highline-quick-actions ul li div img {
  margin:0 5px 0 5px;
}

#highline-quick-actions ul li div img:hover {
  cursor: default;
}

#highline-quick-actions ul li div:hover {
  color: #527de8;
  cursor: pointer;
  cursor: hand;
}

#highline-quick-actions .qa-selected {
  border-bottom: 2px solid #465a9b;
}

.green-circle {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  background-color: #40b450;
}

.blue-square {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #1a77ba;
}

.black-diamond {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}