
/************************************
*
* aqua: #336699
* gray: #999999
* char: #666666
* red : #900000
* ash : #c3c3c3
* blk : #333333
* gree: #00a000
*
* dc01: #465a9b
* dc02: #6493ed


* rs01: #465a9b
* rs02: #527de8
* rs03: #666666
* rs04: #798489
*
*************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #333;
}

.site-indent {margin: 50px;}

#site-main-division {
  background:url(../../assets/img/common/tignes-mountain-biking-3.jpg) top no-repeat;
  width: 1200px;
  background-attachment: fixed; height: 800px; margin: 0 10px 0 10px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.circle {
  width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 3px;
  position: relative;
  top: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  border: 4px solid #333;
}

table.friend {}
table.friend tr td.prop {color: #999; font-weight: bold; width: 100px;}
table.friend tr td.val {color: #333;}

table.member {}
table.member tr td.prop {color: #999; font-weight: bold; width: 100px;}
table.member tr td.val {color: #333;}

.text-large {
  font-size: 24px;
}

.popover {
  max-width: 800px; /* optional max width */
  width: intrinsic; /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content; /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}

.sponsor-image {
  margin-top:40px;
  margin-bottom: 40px;
}

.active { color: red; font-weight: bold; }

.hlAccount {
  border: 2px solid #333;
  height: 30vh;
  width: 100%;
}

.hlActivity {
  border: 2px solid #465a9b;
  height: 30vh;
  width: 100%;
}

.hlData {
  border: 2px solid #527de8;
  height: 50vh;
  width: 100%;
  margin-top: 10px;
}

.hlAlley {
  border: 2px dotted #900000;
  height: 100%;
  width: 100%;
  text-align: center;
}

.segment-header {
  font-size: 1.1em;
  color: #666;
  border-bottom: 1px solid #999;
  margin-bottom: 5px;
}

.border-bottom {
  border-bottom: 1px solid #999;
  margin: 0 0 10px 0;
}

a.site-link-1 {color: #333; text-decoration: none; cursor: hand; cursor: pointer;}
a.site-link-1:hover {color: #999; text-decoration: none;}
a.site-link-1:visited {color: #333; text-decoration: none;}