#highline-dashboard {

}

#highline-dashboard .account-info-list {
    font-size: 0.8em;
    margin: 10px 0 10px 0;
    list-style-type: none;
    padding: 0;
}

#highline-dashboard .activity-table {
    font-size: 0.7em;
    margin: 10px 0 10px 0;
}

#highline-dashboard .data-tabset {
    font-size: 0.8em;
    margin: 10px 0 10px 0;
}
