<div uib-dropdown class-="header-menu-toggle">
    <span uib-dropdown-toggle>
        <i class="fa fa-bars fa-2x" aria-hidden="true" style="color: #465a9b;"></i>
    </span>
    <ul uib-dropdown-menu class="header-menu-container">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="account({id: 1})">Account Info</a></li>
        <li><a ui-sref="dashboard">Dashboard</a></li>
        <li><a ui-sref="rides">Rides</a></li>
        <li><a ui-sref="groups">Groups</a></li>
        <li><a ui-sref="friends">Friends</a></li>
        <li><a ui-sref="logout">Sign Out</a></li>
    </ul>
</div>
