<i class="fa fa-thumbs-down" aria-hidden="true" ng-show="polar === 0" ng-class="'polar-helper-no'" ng-if="type === 'joinable'"></i>
<i class="fa fa-thumbs-up" aria-hidden="true" ng-show="polar === 1" ng-class="'polar-helper-yes'" ng-if="type === 'joinable'"></i>
<i class="fa fa-lock" aria-hidden="true" ng-show="polar === 0" ng-class="'polar-helper-no'" ng-if="type === 'lockable'"></i>
<i class="fa fa-unlock" aria-hidden="true" ng-show="polar === 1" ng-class="'polar-helper-yes'" ng-if="type === 'lockable'"></i>
<i class="fa fa-user-secret" aria-hidden="true" ng-show="polar === 0" ng-class="'polar-helper-no'" ng-if="type === 'accessible'"></i>
<i class="fa fa-user-plus" aria-hidden="true" ng-show="polar === 1" ng-class="'polar-helper-yes'" ng-if="type === 'accessible'"></i>
<i class="fa fa-thumbs-down" aria-hidden="true" ng-show="polar === 0" ng-class="'polar-helper-no-neutral'" ng-if="type === 'droppable'"></i>
<i class="fa fa-thumbs-up" aria-hidden="true" ng-show="polar === 1" ng-class="'polar-helper-yes-neutral'" ng-if="type === 'droppable'"></i>
