<div id="highline-quick-actions" class="row">

    <div class="col-md-12">
        <ul>
            <li>
                <div class="qa-action"
                      ng-click="navigateTo('account')"
                      ng-class="{'qa-selected': actionSelected === 0}">Account
                </div>
            </li>
            <li>
                <div>
                    <img src="assets/img/common/double-black.jpg" height="15" width="15" alt="Mountain Biking Group Riding" />
                </div>
            </li>
            <li>
                <div class="qa-action"
                      ng-click="navigateTo('dashboard')"
                      ng-class="{'qa-selected': actionSelected === 1}">Dashboard
                </div>
            </li>
            <li>
                <div>
                    <img src="assets/img/common/double-black.jpg" height="15" width="15" alt="Mountain Biking Group Riding" />
                </div>
            </li>
            <li>
                <div class="qa-action"
                      ng-click="navigateTo('friends')"
                      ng-class="{'qa-selected': actionSelected === 2}">Friends
                </div>
            </li>
            <li>
                <div>
                    <img src="assets/img/common/double-black.jpg" height="15" width="15" alt="Mountain Biking Group Riding" />
                </div>
            </li>
            <li>
                <div class="qa-action"
                      ng-click="navigateTo('groups')"
                      ng-class="{'qa-selected': actionSelected === 3}">Groups
                </div>
            </li>
            <li>
                <div>
                    <img src="assets/img/common/double-black.jpg" height="15" width="15" alt="Mountain Biking Group Riding" />
                </div>
            </li>
            <li>
                <div class="qa-action"
                      ng-click="navigateTo('rides')"
                      ng-class="{'qa-selected': actionSelected === 4}">Rides
                </div>
            </li>
        </ul>
    </div>

</div>

<!--

            <li>
                <span>
                    <img src="assets/img/common/double-black.jpg" height="15" width="15" alt="Mountain Biking Group Riding" />
                </span>
            </li>

-->