<div>
    <div class="segment-header">Account
        <span class="pull-right highline-hover">
            <i class="fa fa-pencil edit" aria-hidden="true" ng-click="editAccount()"></i>
        </span>
    </div>

    <ul class="account-info-list">
        <li>First Name: {{user.first_name}}</li>
        <li>Last Name: {{user.last_name}}</li>
        <li>Email: {{user.email}}</li>
        <li>Skill: {{user.skill}}</li>
        <li>Experience: {{user.experience}} year(s)</li>
        <li>Style: {{user.style}}</li>
    </ul>

    <div class="segment-header">Equipment
        <span class="pull-right highline-hover">
            <i class="fa fa-pencil edit" aria-hidden="true" ng-click="editEquipment()"></i>
        </span>
    </div>

    <ul class="account-equipment-list">
        <li ng-repeat="e in user.equipment">
            <div style="display:inline-block;">
                <div class="ae-li-bg">{{e.type}}</div>
                <div class="ae-li-sm">{{e.style | bt}}</div>
            </div>
            <div style="display: inline-block;">
                <div class="ae-li-bg">{{e.make}}</div>
                <div class="ae-li-sm">{{e.model}}</div>
            </div>
            <!--
            <div style="display: inline-block;">
                <div class="ae-li-bg">{{e.name}}</div>
                <div class="ae-li-sm">&nbsp;</div>
            </div>
            -->
        </li>
    </ul>

</div>
